@import url("main.css");

header {
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu p {
    font-family: Cormorant, sans-serif;
    font-size: 30px;
    font-weight: regular;
    margin: 0;
}

.menu img {
    width: 30px;
    height: 30px;
    float: right;
    margin-left: 10px;
}

